* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(54, 54, 54);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 980px;
  padding: 1rem;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
}

.post {
  border: 2px solid #fff;
  padding: 3rem;
  margin: 1.5rem 0;
}
.post-title {
  font-size: 1.75rem;
  color: #7395ea;
}
.post-content {
  font-size: 1.1rem;
  margin: 1rem 0;
  color: #f3f3f3;
}

input {
  width: 100%;
  display: block;
  padding: 0.5rem;
  outline: none;
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

button {
  background: #144ee0;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
